@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-blue: #0e9dd8;
  --color-brand-navy: #011118;
  --color-brand-light-blue: #e7f7fd;
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
